html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.title {
  color: black;
}

.feature {
  color: blue;
}

.card-deck .card {
  min-width: 220px;
}

.card-body img {
  display: none; 
}

.card-body:hover img {
  display: block; 
}

.card-body ul {
  display: block; 
}

.card-body:hover ul {
  display: none; 
}